<template>
    <md-app md-mode="fixed">
        <md-app-toolbar class="md-primary">
            <div class="md-toolbar-section-start">
                <md-button class="md-icon-button" @click="menuExpanded = !menuExpanded">
                    <md-icon>menu</md-icon>
                </md-button>
                <span class="md-title">Massive OES</span>
            </div>
        </md-app-toolbar>
        <md-app-drawer md-persistent="mini" :md-active.sync="menuExpanded">
            <md-toolbar class="md-transparent" md-elevation="0">
                <span>Navigation</span>

                <div class="md-toolbar-section-end">
                    <md-button class="md-icon-button md-dense" @click="menuExpanded = !menuExpanded">
                        <md-icon>keyboard_arrow_left</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <b-p-inspector-menu :selectedPoints="this.selectedPoints"></b-p-inspector-menu>
        </md-app-drawer>
        <md-app-content class="bp-content md-layout" v-if="simulationParts.length > 0">
            <div class="md-layout-item md-small-size-100 md-size-50">
                <scatter-chart class="b-p-scatter-chart"
                               :chartData="selectedSimulationParts"
                               :options="{margin: [20,50]}"
                               :regressionLineData="regressionLineData"
                               @scatterPointsSelected="scatterPointsSelected"
                ></scatter-chart>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-50">
                <b-p-line-chart class="b-p-line-chart"
                                :chartData="lineChartData"
                                :options="{margin: [20,50], scaleByFirstDataSet: true}"
                ></b-p-line-chart>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-50">
                <md-table v-model="simulationParts" class="simulations-sets-table" md-card :md-selected-value.sync="selectedSimulationParts">
                    <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="multiple" md-auto-select>
                        <md-table-cell md-label="Specie" md-sort-by="specie">{{ item.simulation }}</md-table-cell>
                        <md-table-cell md-label="Vibrational state" md-sort-by="vibrationalState">{{ item.vibration_level }}</md-table-cell>
                    </md-table-row>
                </md-table>
            </div>
            <div class="md-layout-item md-small-size-100 md-size-50">
                <md-table v-model="selectedPoints" class="selected-points-table" md-card>
                    <md-table-toolbar>
                        <h4 class="points-table-title md-title">
                            Selected points
                            <span v-if="calculatedMessage">{{ calculatedMessage }}</span>
                        </h4>
                        <export-points v-if="selectedPoints.length > 0"></export-points>
                    </md-table-toolbar>
                    <md-table-row slot="md-table-row" slot-scope="{ item }">
                        <md-table-cell md-label="Simulation">{{ item.specie }}</md-table-cell>
                        <md-table-cell md-label="v" >{{ item.v }}</md-table-cell>
                        <md-table-cell md-label="J" >{{ item.J }}</md-table-cell>
                        <md-table-cell md-label="E" >{{ round(item.E) }}</md-table-cell>
                        <md-table-cell md-label="pops" >{{ round(item.pops) }}</md-table-cell>
                    </md-table-row>
                </md-table>
            </div>
        </md-app-content>
    </md-app>
</template>

<script>
import BPLineChart from '../charts/BPLineChart'
import ScatterChart from '../charts/ScatterChart'
import BPInspectorMenu from './menu/BPInspectorMenu'
import {createChartDataSet, DATA_SET_TYPE} from '../../factory/chartDataSet'
import ExportPoints from './ExportPoints'
import {formatNumber} from '../../service/numberBeautifier'

export default {
  components: {
    ExportPoints,
    ScatterChart,
    BPLineChart,
    BPInspectorMenu
  },
  name: 'BPInspector',
  data () {
    return {
      menuExpanded: false,
      selectedSimulationParts: []
    }
  },
  mounted () {
    this.selectedSimulationParts = this.simulationParts
  },
  methods: {
    scatterPointsSelected (points) {
      this.$store.commit('ACTIVATE_APP_LOADER')
      this.$store.commit('FLUSH_CALCULATED_TEMPERATURE')
      this.$socket.emit('bp_tool__points_selected', {x: points.map((p) => p.x), y: points.map((p) => p.y)}, () => {
        this.$store.commit('DEACTIVATE_APP_LOADER')
      })
    },
    calculatedTypeLabel (type) {
      return (type === 'T_rot') ? 'Rotational' : 'Vibrational'
    },
    round (number) {
      return formatNumber(number)
    }
  },
  computed: {
    selectedPoints () {
      return this.$store.getters.bpSelectedPoints
    },
    lineChartData () {
      return [
        createChartDataSet(DATA_SET_TYPE.MEASUREMENT, this.$store.getters.mainChartData.measurement_data),
        createChartDataSet(DATA_SET_TYPE.SIMULATION, this.$store.getters.bpSimulationLineChartData)
      ]
    },
    simulationParts () {
      return this.$store.getters.bpSimulationsParts
    },
    regressionLineData () {
      return this.$store.getters.bpCalculatedTemperature.line_data
    },
    calculatedMessage () {
      let calculated = this.$store.getters.bpCalculatedTemperature
      if (calculated.value) {
        return `${this.calculatedTypeLabel(calculated.type)} temperature = ${this.round(calculated.value)} ± ${this.round(calculated.deviation)} K`
      }
      return null
    }
  }
}
</script>

<style>
    .md-content.bp-content{
        background-color: #fafafa;
    }
    .bp-content .md-layout-item{
        height: 50%;
    }
    .b-p-scatter-chart, .b-p-line-chart{
        height: 100%;
        width: 100%;
    }
    .points-table-title {
        padding-top: 16px;
    }
    .points-table-title span {
        display: block;
        font-size: 0.7em;
    }
</style>
