<template>
    <div>
        <md-button @click="visible = true" class="md-icon-button">
            <md-icon>save_alt</md-icon>
            <md-tooltip md-direction="bottom">Export selection to CSV</md-tooltip>
        </md-button>
        <md-dialog :md-active.sync="visible">
            <md-dialog-content>
                <div class="md-layout md-gutter" :class="`md-alignment-center-left`">
                    <md-field class="md-layout-item">
                        <label>File name</label>
                        <md-input v-model="saveAsFileName"></md-input>
                    </md-field>
                    <span class="md-layout-item">{{`.${saveType}`}}</span>
                    <div class="md-layout-item md-size-30">
                        <md-button @click="exportPoints" class="md-raised md-primary">Save</md-button>
                    </div>
                </div>
                <file-browser
                        listHeader="Select folder"
                        :historyStorageKey="historyStorageKey"
                        selectMode="folder"
                        v-on:selected="folderSelected"
                ></file-browser>
            </md-dialog-content>
        </md-dialog>
    </div>
</template>

<script>
import FileBrowser from '../file-viewer/FileBrowser'
import {addItemToHistory, setRoot, getRoot} from '../../service/localHistoryManager'

export default {
  components: {
    FileBrowser
  },
  data () {
    return {
      visible: false,
      saveAsFileName: '',
      saveType: 'csv',
      historyStorageKey: 'exportBPPoints'
    }
  },
  methods: {
    folderSelected (path) {
      setRoot(this.historyStorageKey, path)
    },
    exportPoints () {
      let folderPath = getRoot(this.historyStorageKey)
      let path = `${folderPath}${this.saveAsFileName}.${this.saveType}`
      this.$socket.emit('bp_tool__export_to_csv', path, () => {
        addItemToHistory(this.historyStorageKey, folderPath)
        this.visible = false
      })
    }
  }
}
</script>
