<template>
    <div>
        <md-list-item @click="loadSimulationFilesAndShowDialog">
            <md-icon>graphic_eq</md-icon>
            <span class="md-list-item-text">Add simulation</span>
        </md-list-item>
        <md-dialog :md-active.sync="visible">
            <md-dialog-title>Select simulation</md-dialog-title>
            <md-dialog-content>
                <div class="md-layout-item">
                    <md-list>
                        <md-list-item v-for="(item, key) in simulationsAvailable" @click="selectedSimulation = item" :key="key">
                            <span class="md-list-item-text">{{ item.split('.')[0] }}</span>
                            <md-button v-if="item === selectedSimulation" class="md-icon-button md-list-action">
                                <md-icon class="md-primary">done</md-icon>
                            </md-button>
                        </md-list-item>
                    </md-list>
                </div>
            </md-dialog-content>
            <md-dialog-actions>
                <md-button class="md-primary" @click="visible = false">Close</md-button>
                <md-button class="md-primary" @click="confirmAdd" :disabled="selectedSimulation == null">Add</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</template>

<script>
export default{
  name: 'AddSimulation',
  data () {
    return {
      visible: false,
      simulationsAvailable: [],
      selectedSimulation: null
    }
  },
  methods: {
    confirmAdd () {
      this.$socket.emit('workspace__add_simulation', this.selectedSimulation)
      this.visible = false
    },
    loadSimulationFilesAndShowDialog () {
      this.$socket.emit('workspace__list_simulations', (data) => {
        this.simulationsAvailable = data
        this.visible = true
      })
    }
  }
}
</script>
