<template>
    <div>
        <md-list-item @click="visible = true">
            <md-icon>done_all</md-icon>
            <span class="md-list-item-text">Fit more measured sets</span>
        </md-list-item>
        <md-dialog style="min-width: 400px" :md-active.sync="visible">
            <md-dialog-content>
                <md-table v-model="measurementSets" :md-selected-value.sync="selectedSets" md-fixed-header>
                    <md-table-toolbar>
                        <div class="md-layout md-gutter md-alignment-center-center" style="width: 100%">
                            <div class="md-layout-item md-size-100">
                                <md-field>
                                    <label>Mode</label>
                                    <md-select v-model="values_from_mode" name="values_from_mode" id="values_from_mode">
                                        <md-option v-for="(item, key) in values_from_source" :key="key" :value="item.id" >{{item.name}}</md-option>
                                    </md-select>
                                </md-field>
                            </div>
                            <div v-if="values_from_mode === 2" class="md-layout-item md-size-100">
                                <md-field>
                                    <label>Source mesurement set</label>
                                    <md-select v-model="values_from_constant" name="values_from_constant" id="values_from_constant">
                                        <md-option v-for="(item, key) in measurementSets" :key="key" :value="item.id" >{{item.id}}</md-option>
                                    </md-select>
                                </md-field>
                            </div>
                            <md-divider class="md-layout-item md-size-100 batch-fit-divider"></md-divider>
                            <h4 class="md-layout-item md-title">Select measured sets for fit</h4>
                            <md-field class="md-layout-item md-size-20">
                                <label>Range</label>
                                <md-input v-model="selectionRange"></md-input>
                            </md-field>
                        </div>
                    </md-table-toolbar>
                    <md-table-row slot="md-table-row" slot-scope="{ item }" md-selectable="multiple" md-auto-select>
                        <md-table-cell md-label="Spectrum set ID">{{ item.id }}</md-table-cell>
                    </md-table-row>
                </md-table>
            </md-dialog-content>
            <md-dialog-actions>
                <br>
                <md-button class="md-primary" @click="visible = false">Close</md-button>
                <md-button class="md-primary" @click="runFit">Run</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</template>

<script>

export default {
  name: 'BatchFit',
  data () {
    return {
      visible: false,
      rangeVisible: false,
      selectionRangeValue: '-',
      selectedSets: [],
      values_from_mode: 1,
      values_from_constant: null,
      values_from_source: [
        {
          'id': 1,
          'name': 'Previous set (relatively)'
        },
        {
          'id': 2,
          'name': 'Constant set'
        }
      ]
    }
  },
  computed: {
    selectionRange: {
      get () {
        return this.selectionRangeValue
      },
      set (val) {
        this.selectionRangeValue = val
        this.rangeSelected(val)
      }
    },
    measurementSets () {
      return this.$store.getters.measurementSets.map((x) => {
        return {id: x}
      })
    }
  },
  methods: {
    runFit () {
      this.$store.commit('ACTIVATE_APP_LOADER')
      this.$socket.emit('workspace__batch_fit', {
        'selected_sets': this.selectedSets.map(e => e.id),
        'mode': this.values_from_mode,
        'from_id': this.values_from_constant,
        'fit_parameters': this.$store.getters.fitParameters
      }, () => {
        this.$store.commit('DEACTIVATE_APP_LOADER')
      })
      this.visible = false
    },
    rangeSelected (rangeString) {
      let range = rangeString.split('-').map(e => e.trim())
      if (range.length === 2) {
        range[0] = range[0] === '' ? 0 : parseInt(range[0])
        range[1] = range[1] === '' ? this.measurementSets.length : parseInt(range[1]) + 1
        this.selectedSets = this.measurementSets.slice(range[0], range[1])
      }
    }
  }
}
</script>

<style>
    .md-select-menu.md-menu-content{
        z-index: 11;
    }
    .md-divider.batch-fit-divider {
        margin-top: 10px;
        margin-bottom: 10px;
    }
</style>
