<template>
    <div>
        <md-list-item @click="visible = true">
            <md-icon>content_copy</md-icon>
            <span class="md-list-item-text">Copy parameters from another set</span>
        </md-list-item>
        <md-dialog :md-active.sync="visible">
            <md-dialog-title>Select source set</md-dialog-title>
            <md-dialog-content>
                <div class="md-layout-item">
                    <md-field>
                        <md-select v-model="selectedSet" placeholder="Simulation set">
                            <md-option v-for="(option, key) in measurementSets" :key="key" :value="option">
                                {{ option }}
                            </md-option>
                        </md-select>
                    </md-field>
                </div>
            </md-dialog-content>
            <md-dialog-actions>
                <md-button class="md-primary" @click="visible = false">Close</md-button>
                <md-button class="md-primary" @click="copy" :disabled="selectedSet == null">Copy</md-button>
            </md-dialog-actions>
        </md-dialog>
    </div>
</template>

<script>
export default{
  name: 'CopyParameters',
  data () {
    return {
      visible: false,
      selectedSet: null
    }
  },
  methods: {
    copy () {
      this.$socket.emit('workspace__copy_parameters', {
        'source': this.selectedSet,
        'target': this.$store.getters.activeMeasurementSet
      }, () => {
        this.visible = false
      })
    }
  },
  computed: {
    measurementSets () {
      return this.$store.getters.measurementSets
    }
  }
}
</script>
