<template>
    <div>
        <md-list-item @click="visible = true">
            <md-icon>save_alt</md-icon>
            <span class="md-list-item-text">Export parameters to csv</span>
        </md-list-item>
        <md-dialog style="min-width: 550px" :md-active.sync="visible">
            <md-dialog-content>
                <div class="md-layout md-gutter md-alignment-center-center">
                    <md-field class="md-layout-item md-size-60">
                        <label>File name</label>
                        <md-input v-model="saveAsFileName"></md-input>
                    </md-field>
                    <span class="md-layout-item">{{`.${saveType}`}}</span>
                    <div>
                        <md-button @click="exportProject" class="md-raised md-primary">Save</md-button>
                    </div>
                </div>
                <file-browser
                        listHeader="Select folder"
                        :historyStorageKey="historyStorageKey"
                        selectMode="folder"
                        v-on:selected="folderSelected"
                ></file-browser>
            </md-dialog-content>
        </md-dialog>
    </div>
</template>

<script>
import FileBrowser from '../../file-viewer/FileBrowser'
import {addItemToHistory, setRoot, getRoot} from '../../../service/localHistoryManager'

export default {
  components: {
    FileBrowser
  },
  data () {
    return {
      visible: false,
      saveAsFileName: '',
      saveType: 'csv',
      historyStorageKey: 'exportProject'
    }
  },
  methods: {
    folderSelected (path) {
      setRoot(this.historyStorageKey, path)
    },
    exportProject () {
      let folderPath = getRoot(this.historyStorageKey)
      let path = `${folderPath}${this.saveAsFileName}.${this.saveType}`
      this.$socket.emit('workspace__export_project', path, () => {
        addItemToHistory(this.historyStorageKey, folderPath)
        this.visible = false
      })
    }
  }
}
</script>
