<script>
export default {
  name: 'BaseChart'
}
</script>

<style>
    .domain {
        stroke-width: 0;
    }
    .tick line {
        stroke: #CCC;
        stroke-opacity: 0.7;
        shape-rendering: crispEdges;
    }

    .tick text{
        font-size: 0.75rem;
    }

    .grid path {
        stroke-width: 0;
    }
</style>
