<template>
    <svg id="b-p-line-chart"></svg>
</template>

<script>
import LineChart from '../../chart/d3/LineChart'
import MassiveD3Options from '../../chart/d3/Options/MassiveD3Options'
import BaseChart from './BaseChart'

let lineChart = null

export default {
  extends: BaseChart,
  props: ['options', 'chartData'],
  mounted () {
    lineChart = new LineChart(document.getElementById('b-p-line-chart'), MassiveD3Options.fromPrimitive(this.options))
    lineChart.draw(this.chartData)
  },
  watch: {
    chartData: function (val) {
      lineChart.redraw(val)
    }
  }
}
</script>
