<template>
    <md-list-item md-expand class="md-list__no_hover" :md-expanded.sync="isExpanded">

        <div >
            <b>{{ formRowLabel(data) }}:</b> {{ formRowValue(data) }}
            <div>
                <md-switch tooltip="Use for fit" @change="confirmUpdate" v-model="data.use_for_fit">
                    Use for fit
                </md-switch>
            </div>
        </div>
        <md-list slot="md-expand">
            <md-list-item>
                <div class="md-list-item-text">
                    <md-field>
                        <label>Value</label>
                        <md-input @change="confirmUpdate" v-model="data.value"></md-input>
                    </md-field>
                </div>
            </md-list-item>
            <md-list-item>
                <md-field>
                    <label>Minimal</label>
                    <md-input @change="confirmUpdate" v-model="data.min_value"></md-input>
                </md-field>
                <md-field>
                    <label>Maximal</label>
                    <md-input @change="confirmUpdate" v-model="data.max_value"></md-input>
                </md-field>
            </md-list-item>
        </md-list>
    </md-list-item>
</template>

<script>
import {parameterLabel, parameterUnit} from '../../service/parameterBeautifier'
import {formatNumber} from '../../service/numberBeautifier'

export default {
  name: 'MainFormRow',
  props: ['rowName', 'data'],
  methods: {
    formRowLabel (data) {
      return parameterLabel(data.parameter_name)
    },
    formRowValue (data) {
      return `${formatNumber(data.value)} ${parameterUnit(data.parameter_name)}`
    },
    confirmUpdate () {
      this.$socket.emit('workspace__update_parameters', [this.data])
    }
  },
  computed: {
    isExpanded: {
      get () {
        return this.$store.getters.expandedMainFormRows.indexOf(this.data['parameter_name']) !== -1
      },
      set (val) {
        let method = 'SHRINK_FORM_ROW'
        if (val) {
          method = 'EXPAND_FORM_ROW'
        }
        this.$store.commit(method, this.data)
      }
    }
  }
}
</script>

<style>
    .md-list__no_hover .md-list-item-expand:hover {
        background-color: transparent !important;
    }
    .md-list__no_hover .md-ripple-wave {
        display: none;
    }
</style>
