<template>
    <div class="full-control">
        <div class="list">
            <div class="md-layout">
                <div class="md-layout-item">
                    <md-switch v-model="useAllForFit">Use all for fit</md-switch>
                </div>
                <div class="md-layout-item">
                    <md-switch style="float: right" v-model="expandAll">Expand all</md-switch>
                </div>
            </div>
            <md-list>
                <md-list-item class="md-list__no_hover" md-expand>
                    <span><b>Fit method settings</b></span>
                    <md-list slot="md-expand">
                        <md-list-item>
                            <div>
                                <md-field>
                                    <label>Max. iterations</label>
                                    <md-input v-model="fitParameters.max_iterations"></md-input>
                                </md-field>
                                <div class="md-layout-item">
                                    <md-field>
                                        <label>Fit method</label>
                                        <md-select v-model="fitParameters.active_fit_method">
                                            <md-option v-for="(option, key) in fitParameters.fit_methods_list" :key="key" :value="option">
                                                {{ option }}
                                            </md-option>
                                        </md-select>
                                    </md-field>
                                </div>
                            </div>
                        </md-list-item>
                    </md-list>
                </md-list-item>
                <main-form-row v-for="(formRow, key) in formRows" :key="key" :rowName="key" :data="formRow"></main-form-row>
            </md-list>
        </div>
    </div>
</template>

<script>
import MainFormRow from './MainFormRow'

export default {
  components: {MainFormRow},
  name: 'MainForm',
  computed: {
    fitParameters () {
      return this.$store.getters.fitParameters
    },
    formRows () {
      return this.$store.getters.mainFormRowData
    },
    useAllForFit: {
      get () {
        return this.$store.getters.mainFormRowData.map(e => e.use_for_fit).reduce((s, v) => s && v, this.$store.getters.mainFormRowData.length > 0)
      },
      set (val) {
        this.$store.getters.mainFormRowData.map(e => {
          e.use_for_fit = val
          return e
        })
        this.$socket.emit('workspace__update_parameters', this.$store.getters.mainFormRowData)
      }
    },
    expandAll: {
      get () {
        return this.$store.getters.mainFormRowData.length === this.$store.getters.expandedMainFormRows.length
      },
      set (val) {
        if (val) {
          this.$store.commit('EXPAND_ALL_FORM_ROWS')
        } else {
          this.$store.commit('SHRINK_ALL_FORM_ROWS')
        }
      }
    }
  }
}
</script>
