<template>
    <md-app md-mode="fixed">
        <md-app-toolbar class="md-primary">
            <div class="md-toolbar-section-start">
                <md-button class="md-icon-button" @click="mainMenuExpanded = !mainMenuExpanded">
                    <md-icon>menu</md-icon>
                </md-button>
                <span class="md-title">Massive OES</span>
            </div>
            <div class="md-layout md-toolbar-section-end">
                <div class="md-layout-item measurement-set-label">
                    <b>Measurement set:</b>
                </div>
                <div class="md-layout-item md-size-20 active-measurement-field" >
                    <md-field>
                        <md-select v-model="activeMeasurementSet">
                            <md-option v-for="(option, key) in measurementSets" :key="key" :value="option">
                                {{ option }}
                            </md-option>
                        </md-select>
                    </md-field>
                </div>
                <md-button class="md-icon-button" @click="toggleForm">
                    <md-icon title="Show only plot" v-if="workspaceStyleClass === ''">show_chart</md-icon>
                    <md-icon title="Show form" v-if="workspaceStyleClass !== ''">playlist_add</md-icon>
                </md-button>
            </div>
        </md-app-toolbar>
        <md-app-drawer md-persistent="mini" :md-active.sync="mainMenuExpanded">
            <md-toolbar class="md-transparent" md-elevation="0">
                <span>Main menu</span>

                <div class="md-toolbar-section-end">
                    <md-button class="md-icon-button md-dense" @click="mainMenuExpanded = !mainMenuExpanded">
                        <md-icon>keyboard_arrow_left</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <main-menu :expanded="mainMenuExpanded">a</main-menu>
        </md-app-drawer>
        <md-app-content :class="'workspace-content '+workspaceStyleClass">
            <div class="left">
                <main-chart class="main-chart"
                            :chartData="dataSetsFull"
                            :options="{margin: [0,10,20,50], scaleByFirstDataSet: true}"
                ></main-chart>
            </div>
            <div class="right">
                <main-form class="md-card md-theme-default"></main-form>
            </div>
        </md-app-content>
    </md-app>
</template>

<script>
import MainMenu from './menu/MainMenu'
import MainChart from '../charts/MainChart'
import MainForm from './MainForm'
import {createChartDataSet, DATA_SET_TYPE} from '../../factory/chartDataSet'

export default {
  components: {
    MainMenu,
    MainForm,
    MainChart
  },
  name: 'Workspace',
  data () {
    return {
      mainMenuExpanded: false,
      mainFormVisible: false,
      visible: false,
      workspaceStyleClass: 'no-form',
      keyDownEventFunction: e => {
        if (e.key === 'PageUp') {
          this.setActiveNextMeasurementSet()
        } else if (e.key === 'PageDown') {
          this.setActivePreviousMeasurementSet()
        }
      }
    }
  },
  methods: {
    addSimulation () {
      this.$socket.emit('list simulations', (simulationFiles) => {
        this.$socket.emit('add simulation', simulationFiles[0])
      })
    },
    toggleForm () {
      this.workspaceStyleClass = this.workspaceStyleClass === '' ? 'no-form' : ''
      // hack until ResizeObserver will be supported in browsers
      setTimeout(() => {
        window.dispatchEvent(new Event('resize'))
      }, 100)
    },
    setActiveNextMeasurementSet () {
      let index = this.measurementSets.indexOf(this.activeMeasurementSet) + 1
      if (this.measurementSets.length > index) {
        this.activeMeasurementSet = index
      }
    },
    setActivePreviousMeasurementSet () {
      let index = this.measurementSets.indexOf(this.activeMeasurementSet) - 1
      if (index >= 0) {
        this.activeMeasurementSet = index
      }
    }
  },
  computed: {
    measurementSets () {
      return this.$store.getters.measurementSets
    },
    activeMeasurementSet: {
      get () {
        return this.$store.getters.activeMeasurementSet
      },
      set (val) {
        if (this.$store.getters.activeMeasurementSet !== val) {
          // This setter is called even when change was not made by select box.
          // Do not send change event to server when it was not raised by user.
          this.$socket.emit('workspace__change_set', val)
        }
        this.$store.commit('SET_ACTIVE_MEASUREMENT_SET', val)
      }
    },
    dataSetsFull () {
      return [
        createChartDataSet(DATA_SET_TYPE.MEASUREMENT, this.$store.getters.mainChartData.measurement_data),
        createChartDataSet(DATA_SET_TYPE.SIMULATION, this.$store.getters.mainChartData.simulation_data),
        createChartDataSet(DATA_SET_TYPE.RESIDUAL, this.$store.getters.mainChartData.residual_data)
      ]
    }
  },
  mounted () {
    window.addEventListener('keyup', this.keyDownEventFunction)
  },
  destroyed () {
    window.removeEventListener('keyup', this.keyDownEventFunction)
  }
}
</script>

<style>
    .md-app:not(.md-overlap).md-theme-default{
        background-color: transparent;
    }
    body {
        background-color: #fafafa;
    }
    .md-content.workspace-content{
        background-color: #fafafa;
        width:100%;
        height: 100%;
        position:relative;
    }

    .workspace-content.no-form > .left{
        width: 100%;
        padding: 80px 16px 0 86px;
        top: 0;
        right: 0;
        margin-bottom: -16px;
    }
    .workspace-content:not(.no-form) > .left {
        width: 70%;
        padding-right: 86px;
        padding-bottom: 70px;
    }
    .workspace-content.no-form > .right{
        display: none;
    }
    .left{
        position: fixed;
        height: 100%;
        margin-top: -16px;
    }
    .right {
        float: right;
        width: 30%;
        left: 70%;
        height: 100%;
        min-width: 465px;
    }
    .right .md-card{
        padding: 16px;
    }
    .main-chart{
        height: 100%;
        width: 100%;
    }

    .active-measurement-field .md-field:after{
        display: none;
    }
    .active-measurement-field .md-select > input{
        color: white !important;
        -webkit-text-fill-color: white !important;
        text-align: right;
    }
    .measurement-set-label{
        margin-top: 2px;
        margin-bottom: 14px;
        padding-top: 16px;
        text-align: right;
    }
</style>
