<template>
    <div>
        <md-list>
            <md-list-item @click="goBack">
                <md-icon>arrow_back</md-icon>
                <span class="md-list-item-text">End without changes</span>
            </md-list-item>
            <fit-menu-item></fit-menu-item>
            <md-list-item @click="calcTRot" v-if="this.selectedPoints.length > 1">
                <md-icon>rotate_90_degrees_ccw</md-icon>
                <span class="md-list-item-text">Calculate Trot</span>
            </md-list-item>
            <md-list-item @click="calcTVib" v-if="this.selectedPoints.length > 1">
                <md-icon>vibration</md-icon>
                <span class="md-list-item-text">Calculate Tvib</span>
            </md-list-item>
        </md-list>
    </div>
</template>

<script>

import FitMenuItem from './FitMenuItem'

export default {
  components: {
    FitMenuItem
  },
  name: 'BPInspectorMenu',
  props: ['selectedPoints'],
  methods: {
    goBack () {
      this.$router.go(-1)
    },
    calcTRot () {
      this.$store.commit('ACTIVATE_APP_LOADER')
      this.$socket.emit('bp_tool__calc_t_rot', null, (data) => {
        this.$store.commit('DEACTIVATE_APP_LOADER')
      })
    },
    calcTVib () {
      this.$store.commit('ACTIVATE_APP_LOADER')
      this.$socket.emit('bp_tool__calc_t_vib', null, (data) => {
        this.$store.commit('DEACTIVATE_APP_LOADER')
      })
    }
  }
}
</script>
